.venv
data
__pycache__
bartender_retrieval.log
tokenGemini.txt
tokenMixtral.txt
tokenHuggingFace.txt
tokenHuggingFace.txt
tokenHuggingFace.txt
bartender_search.log
rebuild_index.py
bartender_agent_system.log
crawl_debug_output.log
ontology
agent_system_output.log
results
informe.aux
informe.bbl
informe.blg
informe.log
informe.out
informe.fdb_latexmk
informe.fls
informe.synctex.gz
llncs.cls
splncs03.bst
informe.synctex(busy)
agent_system.sh
test_runner.log